<!--The content below is only a placeholder and can be replaced.-->
<nav >
  <span >
    <a href="" [routerLink]="[HOME]" routerLinkActive="nav__menu" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </span>
  <span >
    <a href="" [routerLink]="[DETAIL]" routerLinkActive="nav__menu" >Detail</a>
  </span>
  <span >
    <a href="" [routerLink]="[FORMATION]" routerLinkActive="nav__menu" >Formation</a>
  </span>
  <span >
    <a href="" [routerLink]="[CONNAISSANCES]" routerLinkActive="nav__menu" >Connaissances</a>
  </span>
</nav>





<router-outlet></router-outlet>